.anime-page-grid {
  display: grid;
  justify-items: center;
  margin: 0 1rem;
  row-gap: 1rem;
  padding-top: 6rem;
}

.content-container {
  width: 100%;
  border-radius: 1rem;
  color: white;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.img-card {
}

.img-card img {
  border-radius: 1rem;
  max-width: 100%;
}

.info-card {
  text-align: left;
  padding: 1rem;
}

.info-card span {
  margin-right: 1rem;
}

.info-card p {
  font-weight: bold;
  line-height: 1.8;
  color: var(--main-color);
  opacity: 0.8;
  font-size: 1rem;
  text-transform: capitalize;
}

.anime-link {
  text-decoration: none;
}

.synopsis {
  padding: 1rem;
  font-weight: bold;
  color: var(--main-color);
  opacity: 0.8;
}

.similar-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.similar-card h2 {
  text-align: center;
}

.similar-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media only screen and (max-width: 25rem) {
  .anime-page-grid {
    padding-top: 5rem;
  }
}

@media only screen and (min-width: 48rem) {
  .anime-page-grid {
    padding-top: 9rem;
  }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 68.75rem) {
  .anime-page-grid {
    margin: 0;
    padding: 1rem;
    margin-left: 14rem;
    column-gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "pic info info side"
      "sum sum sum side";
  }

  .img-card {
    grid-area: pic;
  }

  .info-card {
    grid-area: info;
  }

  .similar-card {
    grid-area: side;
    margin: 0;
  }

  .summary-card {
    grid-area: sum;
  }

  .img-card {
    max-width: 100%;
  }

  .similar-list > .cards-item {
    width: 50%;
  }
}
