.anime-card {
  border-radius: 1rem;
  margin: 0.5rem;
  color: white;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
}

.notFound {
  display: flex;
  justify-content: center;
}

.section-title {
  padding-top: 2.5rem;
}

.anime {
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "pic"
    "info"
    "sum"
    "side";
}

.img-card {
  margin: 0.5rem;
  max-width: 80%;
  justify-self: center;
  grid-area: pic;
}

.img-card img {
  border-radius: 1rem;
  max-width: 100%;
}

.info-card {
  grid-area: info;
  text-align: left;
  padding: 1rem;
}

.info-card span {
  margin-right: 1rem;
}

.info-card p {
  font-weight: bold;
  line-height: 1.8;
  color: #658ec6;
  opacity: 0.8;
  text-transform: capitalize;
  margin-top: 0.5rem;
}

.anime-link {
  text-decoration: none;
}

.summary-card {
  grid-area: sum;
}

.synopsis {
  padding: 1rem;
  font-weight: bold;
  color: #658ec6;
  opacity: 0.8;
}

.similar-card {
  grid-area: side;
}

@media only screen and (min-width: 768px) {
  .notFound {
    margin-left: 200px;
  }

  .anime {
    margin-left: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "pic info info side"
      "sum sum sum side";
  }

  .img-card {
    max-width: 100%;
  }
}
