.card {
  position: relative;
  height: 10rem;
  width: 8rem;
  display: flex;
  border-radius: 1rem;
  margin: 2rem 0.5rem;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.card img {
  object-fit: cover;
  width: 8rem;
  height: 10rem;
  background: linear-gradient(
    to left top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.5)
  );
  box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  border-radius: 1rem;
}

.overlay {
  position: absolute;
  background-color: black;
  opacity: 0.4;
  height: 2rem;
  width: 8rem;
  bottom: 0;
  left: 0;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.bottom-text {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  color: white;
}

.anipage-card {
  height: 8rem;
  width: 6rem;
  margin: 1rem 0.5rem;
}

.anicard-overlay {
  height: 2rem;
  width: 6rem;
}

.anipage-card img {
  height: 8rem;
  width: 6rem;
}

@media only screen and (min-width: 375px) {
  .card {
    height: 11rem;
    width: 9rem;
  }

  .card img {
    width: 9rem;
    height: 11rem;
  }

  .overlay {
    width: 9rem;
  }
}

@media (min-width: 768px) {
  .card {
    height: 16rem;
    width: 14rem;
  }

  .card img {
    width: 14rem;
    height: 16rem;
  }

  .overlay {
    height: 2rem;
    width: 14rem;
  }

  .bottom-text {
    left: 1rem;
  }

  .anipage-card {
    height: 8rem;
    width: 6rem;
    margin: 1rem 0.5rem;
  }

  .anicard-overlay {
    height: 2rem;
    width: 6rem;
  }

  .anipage-card img {
    height: 8rem;
    width: 6rem;
  }
}
