.header {
  min-height: 5.5rem;
  display: flex;
  flex-direction: column;
}

.logo {
  text-decoration: none;
  display: flex;
  justify-content: space-evenly;
}

.text-logo {
  display: none;
}

.hamburger-icon {
  font-size: 36px;
  align-self: flex-end;
  padding-right: 0.5rem;
}

@media (min-width: 768px) {
  .header {
    margin-left: 200px;
    min-height: 5rem;
  }
  .text-logo {
    display: block;
  }

  .link-logo {
    display: none;
  }

  .hamburger-icon {
    display: none;
  }
}
