.header {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  background-color: var(--main-color);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
}

.link-logo {
  margin-right: 1.75rem;
}

.hamburger-icon {
  font-size: 2rem;
  line-height: 0;
  color: white;
}

@media (min-width: 31.25rem) {
  .hamburger-icon {
    font-size: 2.5rem;
  }

  .link-logo {
    margin-right: 2.25rem;
  }
}

@media only screen and (max-width: 25rem) {
  .header {
    padding: 1rem 0.5rem;
  }

  .hamburger-icon {
    font-size: 1.5rem;
  }
}

@media (min-width: 68.75rem) {
  .header {
    position: relative;
    width: fit-content;
    background-color: var(--mainLightColor);
    margin-left: 14rem;
    padding: 1.5rem;
    box-shadow: none;
  }

  .logo {
    width: 100%;
  }

  .link-logo {
    display: none;
  }

  .hamburger-icon {
    display: none;
  }
}
