.web-logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  margin: 0;
  text-decoration: underline;
  color: white;
}

.web-logo h5 {
  margin-left: 0.25rem;
}

@media only screen and (max-width: 25rem) {

  .web-logo {
    font-size: 1rem;
  }
}

@media (min-width: 31.25rem) {

  .web-logo {
    font-size: 1.75rem;
  }
}

@media only screen and (min-width: 50rem) {
  .web-logo {
    margin: 1.5rem 1rem;
    font-size: 2rem;
  }

  .web-logo h5 {
    padding-left: 0.5rem;
  }
}
