.results {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title {
  padding-top: 2.5rem;
}

@media only screen and (min-width: 320px) {
  .results {
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .results {
    justify-content: center;
  }
}
