.search {
  padding-top: 1.5rem;
}

.search input[type="text"] {
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  width: 8rem;
  border: none;
  padding: 0.25rem;
  border-radius: 2rem;
}

.search input[type="text"]:focus {
  outline: 0;
}

@media only screen and (min-device-width: 768px) {
  .search {
    padding-top: 2rem;
  }

  .search input[type="text"] {
    padding: 0.5rem;
    width: 16rem;
  }
}
