.sidenav {
  display: none;
}

@media only screen and (min-device-width: 768px) {
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    overflow-x: hidden;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;

    text-align: center;
  }

  .web-logo {
    display: flex;
    align-self: flex-start;
    font-size: 30px;
    margin: 1.5rem 1rem;
    text-decoration: underline;
    color: #426696;
  }

  .web-logo h5 {
    padding-left: 0.5rem;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .links h3 {
    align-self: flex-start;
    padding-left: 1rem;
  }

  .link {
    display: flex;
    padding: 0.75rem 0;
    text-decoration: none;
  }
  .link h2 {
    padding: 0rem 1.5rem;
    cursor: pointer;
  }

  .link h2:hover:not(.current) {
    color: black;
  }

  .current h2 {
    color: black;
  }

  hr.sidebar-divider {
    border: none;
    margin: 0 1rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
}
