.sidenav {
  display: none;
  position: fixed;
  min-height: 100vh;
  z-index: 200;
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 48rem) and (max-device-width: 64rem) and (orientation: portrait) {
}

/* Desktops and laptops ----------- */
@media only screen and (min-width: 68.75rem) {
  .sidenav {
    display: block;
    width: 14rem;
    top: 0;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .links h3 {
    align-self: flex-start;
    padding-left: 1rem;
  }

  .link {
    display: flex;
    margin: 0.75rem 0;
    width: fit-content;
    text-decoration: none;
    color: white;
  }
  .link h2 {
    padding-left: 1.5rem;
    cursor: pointer;
    color: white;
  }

  .link h2:hover:not(.current) {
    color: var(--mainLightColor);
  }

  .current h2 {
    color: var(--mainLightColor);
  }

  hr.sidebar-divider {
    border: none;
    margin: 0 1rem 1rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
  }
}
