.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-container {
  width: 90%;
  max-width: 1400px;
  margin: auto;
}

.title-text-color {
  color: var(--gray-400);
}

.sub-text-color {
  color: var(--gray-500);
}

.btn {
  font-weight: 600;
  font-size: 1rem;
  color: var(--gray-200);
  padding: 0.625rem 0.5rem;
  display: inline-block;
  min-width: 90px;
  text-align: center;
  background: var(--main-color);
  border: 1px solid var(--main-color);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s linear;
  margin: 1rem;
}

.btn:hover {
  background-color: var(--main-color-light);
}

.link-btn {
  text-decoration: none;
  padding: 0.438rem 0.5rem;
}

.link-btn:hover {
  background: none;
}

.transparent-btn {
  background: none;
}

.transparent-btn:hover {
  background: var(--main-color);
}
