.results-page {
  padding: 4rem 0;
}

.results-page .form-container {
  margin: 2rem 0 3rem;
}

/***** Anime Page *****/
.anime-page {
  flex: 1;
}

.anime-info-container {
  background-color: var(--black);
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.2fr 1fr;

  grid-template-areas:
    "side header header"
    "side main main"
    "side footer footer";

  gap: 0.5rem;
  padding: 0.5rem;
  margin: 2rem 0;
}

.anime-header {
  grid-area: header;
  text-align: center;
  background-color: var(--nav-color);
}

.anime-main {
  grid-area: main;
  padding: 1rem;
  background-color: var(--nav-color);
}

.anime-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.anime-stats .link-btn {
  color: var(--main-color);
}

.anime-sidebar {
  grid-area: side;
  background-color: var(--nav-color);
}

.anime-info {
  margin-top: 1rem;
  margin-left: 0.5rem;
}

.info-data {
  padding: 0.25rem 0;
  font-weight: 600;
}

.info-data span {
  font-weight: 500;
}

.anime-footer {
  grid-area: footer;
  background-color: var(--nav-color);
  padding: 0.5rem;
}

@media (max-width: 1000px) {
}
