.home-section {
  padding: 2.5rem 0;
}

.home-section-title {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
  transition: color 0.2s ease-in-out;
}

.home-section-title:hover {
  color: var(--white);
}
